*,
::before,
::after {
  box-sizing: border-box;
}

section {
  padding: 35px 0;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 1155px) {
  .wrapper {
    padding: 0 15px;
  }
}

body {
  margin: 0;
  background: #fff5eb;
  font-family: "Hind", sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  cursor: default;
}

img {
  display: block;
}

button {
  border: 0;
  padding: 0;
  transition: all 0.2s linear;
}

.btn {
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 32px;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.95);
  transition: all 200ms ease;
}

.content {
  max-width: 328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photo-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.img-card {
  width: 100%;
}
.img-card img {
  border-radius: 16px;
  width: 100%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-prev,
.button-next {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: 0.01em;
  color: #000;
  bottom: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 10px 20px;
  border-radius: 36px;
  transition: all 0.1s linear;
}
.button-prev:active,
.button-next:active {
  transform: scale(0.95);
}
.button-prev img,
.button-next img {
  margin-bottom: 2px;
}

.button-next {
  right: 50%;
  transform: translateX(105%);
}
.button-next:active {
  transform: translateX(105%) scale(0.95);
  opacity: 0.8;
}

.button-prev {
  left: 50%;
  transform: translateX(-105%);
}
.button-prev:active {
  transform: translateX(-105%) scale(0.95);
  opacity: 0.8;
}

.photo-card {
  height: 254px;
}
.photo-card img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
}
.pagination .btn {
  margin: 0;
  padding: 10px 20px;
}
.pagination .btn img {
  display: block;
}
.pagination .pagination-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.pagination .pagination-list p {
  line-height: 0;
  margin-top: 1px;
}
.pagination .curent-page {
  background-color: #ffffff;
  border: 1px solid #efefef;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  width: calc((100% - 64px) / 5);
  position: relative;
}
@media screen and (max-width: 1024px) {
  .product-card {
    width: calc((100% - 48px) / 4);
  }
}
@media screen and (max-width: 800px) {
  .product-card {
    width: calc((100% - 32px) / 3);
  }
}
@media screen and (max-width: 600px) {
  .product-card {
    width: calc((100% - 16px) / 2);
  }
}
.product-card:hover, .product-card:focus {
  background-color: #fff5eb;
  margin-bottom: -60px;
  box-shadow: 0px 1px 16px 5px rgba(0, 0, 0, 0.233);
  z-index: 1;
  border-radius: 16px;
}
.product-card:hover .btn-hidden, .product-card:focus .btn-hidden {
  display: block;
}
.product-card a {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-card a img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px 16px 0 0;
  display: block;
}
.product-card a .prod-info {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-card a .product-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #000000;
}
.product-card a .text {
  text-align: left;
}
.product-card a .product-price {
  color: #6c6c6c;
  display: flex;
  gap: 10px;
}
.product-card a .product-price span {
  display: block;
  color: #000;
}
.product-card a .btn-hidden {
  display: none;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 14px;
}
.product-card a .product-btn {
  margin: 0 auto;
  display: block !important;
  width: 70%;
  text-align: center;
}

.section-title {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 328px;
  margin: 0 auto;
}

h3 {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.text {
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

:root {
  --accent-color: #cf7281;
  --text-color: #6c6c6c;
  --background-color: #202022;
}

header {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  height: 75px;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px #e3e3e3 solid;
}
@media screen and (max-width: 538px) {
  .header {
    height: 70px;
  }
}
.header .container {
  height: 100%;
}

.header-top {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  padding: 8px;
}
.header-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 641px) {
  .header-top .container {
    justify-content: center;
  }
}
.header-top .adress {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.01em;
}
.header-top .adress a {
  color: #ffffff;
  margin-top: 3px;
}
.header-top .tell {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 0.01em;
}
.header-top .tell a {
  color: #ffffff;
  margin-top: 3px;
}
@media screen and (max-width: 641px) {
  .header-top .tell {
    display: none;
  }
}

.header-body {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header-logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-logo img {
  height: 90px;
}

.header-burger {
  font-weight: 700;
  font-size: 13px;
  line-height: 1.26;
  position: relative;
  text-transform: uppercase;
  border-radius: 4px;
  display: none;
}
.header-burger span {
  display: block;
  width: 21px;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
}
.header-burger span::before, .header-burger span::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  border-radius: 2px;
  background-color: #000000;
  transition: all 0.1s linear;
}
.header-burger span::before {
  top: -6px;
}
.header-burger span::after {
  top: 6px;
}
@media screen and (max-width: 1024px) {
  .header-burger {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.header-burger.active span {
  background-color: transparent;
}
.header-burger.active span::after {
  transform: rotate(45deg);
  top: 0;
}
.header-burger.active span::before {
  transform: rotate(-45deg);
  top: 0;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.header-nav {
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .header-nav {
    position: fixed;
    top: 115px;
    right: -100%;
    width: 60%;
    height: 50%;
    background-color: rgba(230, 230, 230, 0.9647058824);
    padding-top: 25px;
    transition: all 0.2s ease;
    overflow: auto;
    flex-direction: column;
    border-bottom-left-radius: 20px;
  }
}
@media screen and (max-width: 538px) {
  .header-nav {
    top: 70px;
    padding-top: 45px;
  }
}
.header-nav.active {
  right: 0;
}

.nav-list {
  height: 100%;
  display: flex;
  gap: 31px;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .nav-list {
    flex-direction: column;
    height: auto;
  }
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .nav-item {
    height: 25px;
  }
}

.nav-link {
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #000000;
}
@media screen and (max-width: 1024px) {
  .nav-link {
    flex-direction: column;
    font-weight: 500;
    font-size: 17px;
  }
}
.nav-link:hover, .nav-link:active, .nav-link:focus {
  color: var(--accent-color);
  opacity: 1;
}
.nav-link:hover::after {
  width: 100%;
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--accent-color);
  display: block;
  transition: all 0.2s linear;
  position: absolute;
  border-radius: 5px;
  bottom: -1px;
}

.cart {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.cart .cart-num {
  font-size: 16px;
  color: #000000;
}
.cart svg {
  transition: all 0.1s linear;
}
.cart svg:hover {
  fill: var(--accent-color);
}

.shop-btn {
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 7px;
  background: #000000;
  border-radius: 32px;
}

.hero {
  background-image: url(../img/MainBanner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 108px 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.hero .hero-title {
  font-size: 38px;
  line-height: 47px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 600px;
}
.hero .text {
  color: #ffffff;
  max-width: 328px;
}
.hero .hero-btn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hero .hero-btn a {
  display: block;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: black;
  padding: 12px 24px;
  border-radius: 32px;
}
.hero .hero-btn a:active {
  transform: scale(0.95);
  transition: all 200ms ease;
}
.hero .hero-btn a:last-child {
  background-color: black;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero .hero-btn {
    flex-direction: row;
  }
}

.advantages .text {
  max-width: 328px;
  margin: 0 auto;
}
.advantages .advantages-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 700px) {
  .advantages .advantages-list {
    flex-direction: row;
  }
}
.advantages .advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.advantages .advantages-item h3 {
  text-align: center;
}

.service-filter-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 50px;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  width: 156px;
  height: 68px;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #8b8b8b;
  background: #202022;
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #fff;
  color: #000;
}

.current-filter {
  background-color: #fff;
  color: #000;
}

.services-swiper {
  overflow: hidden;
  margin-top: 50px;
}

.home-works {
  background-color: black;
}
.home-works .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.home-works .section-title {
  color: #ffffff;
}
.home-works .text {
  color: #ffffff;
}
.home-works .swiper-container {
  position: relative;
  padding-bottom: 55px;
}
.home-works .swiper {
  height: 1120px;
}
@media screen and (min-width: 744px) {
  .home-works .swiper {
    height: 100%;
  }
}
.home-works .swiper-slide {
  background-color: #ffffff;
  border-radius: 16px;
  height: calc((100% - 32px) / 3);
}
.home-works .swiper-slide img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 187px;
  border-radius: 16px 16px 0 0;
}
.home-works .slide-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.home-works h3 {
  text-align: center;
}
.home-works .text {
  color: var(--text-color);
  text-align: center;
}
.home-works .btn {
  padding: 10px 24px;
}
.home-works .button-prev,
.home-works .button-next {
  background-color: #ffffff;
}

.shop-preview {
  background-image: url(../img/1Home/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 100px 0;
}
.shop-preview .section-title {
  color: #fff;
}
.shop-preview .text {
  max-width: 328px;
  margin: 0 auto;
  color: #fff;
}

.question {
  background-color: #fff;
}
.question .container {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .question .container {
    flex-direction: column;
    align-items: center;
  }
}
.question .question-left {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .question .question-left {
    width: 100%;
    order: 2;
  }
}
.question .question-left img {
  width: 100%;
  height: 353px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  margin-bottom: 16px;
}
.question .question-left .text {
  text-align: left;
}
.question .question-left .text a {
  color: black;
}
.question .gustion-right {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .question .gustion-right {
    width: 100%;
  }
}
.question .gustion-right .section-title {
  text-align: left;
  margin: 0;
}
.question .gustion-right .question-list {
  margin-top: 16px;
}
.question .gustion-right .guestion-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 16px 0;
}
.question .gustion-right .guestion-item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.question .gustion-right .guestion-item img {
  transition: all 0.1s linear;
}
.question .gustion-right .guestion-item img.open {
  transform: rotate(-180deg);
  margin: 0;
}
.question .gustion-right .text {
  text-align: left;
}
.question .gustion-right .answer {
  height: 0px;
  font-size: 0px;
  transition: all 0.1s linear;
}
.question .gustion-right .open {
  margin-top: 16px;
  font-size: 16px;
  height: 100%;
}

.reviews .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews .text {
  max-width: 328px;
  margin: 0 auto;
}
.reviews .swiper-container {
  position: relative;
  padding-bottom: 60px;
}
.reviews .swiper-container .swiper {
  height: 460px;
}
@media screen and (max-width: 387px) {
  .reviews .swiper-container .swiper {
    height: 500px;
  }
}
@media screen and (min-width: 744px) {
  .reviews .swiper-container .swiper {
    height: 100%;
  }
}
.reviews .swiper-container .swiper-slide {
  border-radius: 16px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  height: calc((100% - 32px) / 3);
}
.reviews .swiper-container .swiper-slide h3 {
  text-align: center;
}
.reviews .swiper-container .rate-list {
  display: flex;
  gap: 18px;
}
.reviews .swiper-container .rate-item {
  height: 17px !important;
}
.reviews .swiper-container .button-next,
.reviews .swiper-container .button-prev {
  background-color: black;
  color: #fff;
}

.choose {
  background-color: #fff;
}
.choose .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.choose .choose-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
@media screen and (max-width: 743px) {
  .choose .choose-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.choose .chose-item a {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.choose .img-price {
  position: relative;
}
.choose .img-price img {
  height: 226px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  display: block;
}
.choose .price {
  padding: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.25;
  background-color: #fff;
  border-radius: 16px;
}
.choose .text {
  text-align: left;
}

.contact-us .container {
  display: flex;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .contact-us .container {
    flex-direction: column;
  }
}
.contact-us .container .contact-left {
  width: 60%;
}
.contact-us .container .contact-left img {
  width: 100%;
  height: 436px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 768px) {
  .contact-us .container .contact-left {
    display: none;
  }
}
.contact-us .container .contact-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .contact-us .container .contact-right {
    width: 100%;
  }
}
.contact-us .container .contact-right form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact-us .container .contact-right form input {
  border: none;
  border-radius: 32px;
  padding: 12px 24px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.contact-us .container .contact-right form input::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.contact-us .container .contact-right form input::placeholder {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.contact-us .container .contact-right form textarea {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
  border: none;
  border-radius: 32px;
  padding: 12px 24px;
  resize: none;
  width: 100%;
  height: 83px;
}
.contact-us .container .contact-right form textarea::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.contact-us .container .contact-right form textarea::placeholder {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.contact-us .container .section-title {
  margin-left: 10px;
}
.contact-us .container .text {
  text-align: left;
  margin-left: 10px;
  max-width: 328px;
}
.contact-us .container .btn {
  width: 70%;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.footer {
  padding: 32px 0;
}
.footer .container {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 744px) {
  .footer .container {
    flex-direction: column;
  }
}
.footer .footer-left {
  background-color: #000;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.01em;
  color: #6c6c6c;
  height: 267px;
  min-width: 331px;
  width: 30%;
}
@media screen and (max-width: 744px) {
  .footer .footer-left {
    width: 100%;
    min-width: 300px;
    height: auto;
  }
}
.footer .footer-logo .section-title {
  color: #fff;
  font-size: 15px;
  text-align: left;
}
@media screen and (max-width: 744px) {
  .footer .footer-logo .section-title {
    text-align: center;
  }
}
.footer .footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .footer-contacts li {
  text-align: left;
}
.footer .footer-contacts li a {
  margin-left: 5px;
  color: #fff;
}
@media screen and (max-width: 744px) {
  .footer .footer-contacts li {
    text-align: center;
  }
}
.footer .footer-nav {
  display: flex;
  gap: 16px;
}
.footer .footer-nav a {
  color: var(--text-color);
}
@media screen and (max-width: 744px) {
  .footer .footer-nav {
    margin: 0 auto;
  }
}
.footer .follow-us {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .follow-us img {
  margin-bottom: 2px;
}
@media screen and (max-width: 744px) {
  .footer .follow-us {
    margin: 0 auto;
  }
}
.footer .footer-right {
  width: 70%;
}
@media screen and (max-width: 744px) {
  .footer .footer-right {
    width: 100%;
  }
}

.contacts-hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 660px) {
  .contacts-hero .container {
    flex-direction: column;
  }
}
.contacts-hero .container .left {
  width: 60%;
}
.contacts-hero .container .left img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 660px) {
  .contacts-hero .container .left {
    order: 2;
    width: 100%;
  }
}
.contacts-hero .container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .contacts-hero .container .right {
    width: 100%;
  }
}
.contacts-hero .container .right .text {
  align-items: center;
  max-width: 328px;
}
.contacts-hero .container .right .follow-us {
  color: #000;
  display: flex;
  gap: 6px;
}

.contacts-advanages .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contacts-advanages .text {
  max-width: 328px;
}
.contacts-advanages .contacts-advanages-list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: space-around;
}
@media screen and (max-width: 744px) {
  .contacts-advanages .contacts-advanages-list {
    flex-direction: column;
    gap: 16px;
  }
}
.contacts-advanages .contacts-advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contacts-advanages .info a {
  display: block;
  color: var(--text-color);
}

.gallery-hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 660px) {
  .gallery-hero .container {
    flex-direction: column;
  }
}
.gallery-hero .container .left {
  width: 60%;
}
.gallery-hero .container .left img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 660px) {
  .gallery-hero .container .left {
    order: 2;
    width: 100%;
  }
}
.gallery-hero .container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .gallery-hero .container .right {
    width: 100%;
  }
}
.gallery-hero .container .right .text {
  align-items: center;
  max-width: 328px;
}
.gallery-hero .container .right .follow-us {
  color: #000;
  display: flex;
  gap: 6px;
}

.gallery-swiper .section-title {
  margin-bottom: 25px;
}
.gallery-swiper .swiper-container {
  position: relative;
  padding-bottom: 55px;
}
.gallery-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.gallery-swiper .swiper-slide img {
  width: 100%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.gallery-swiper .swiper-slide .text {
  background-color: #fff;
  padding: 16px;
  border-radius: 16px;
}
.gallery-swiper .button-next,
.gallery-swiper .button-prev {
  background-color: #000;
  color: #fff;
}

.about-hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 660px) {
  .about-hero .container {
    flex-direction: column;
  }
}
.about-hero .container .left {
  width: 60%;
}
.about-hero .container .left img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 660px) {
  .about-hero .container .left {
    order: 2;
    width: 100%;
  }
}
.about-hero .container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .about-hero .container .right {
    width: 100%;
  }
}
.about-hero .container .right .text {
  align-items: center;
  max-width: 328px;
}
.about-hero .container .right .follow-us {
  color: #000;
  display: flex;
  gap: 6px;
}

.about-advanages .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.about-advanages .text {
  max-width: 328px;
}
.about-advanages .about-advanages-list {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 744px) {
  .about-advanages .about-advanages-list {
    flex-direction: column;
    gap: 16px;
  }
}
.about-advanages .about-advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.about-advanages .info a {
  display: block;
  color: var(--text-color);
}
.about-advanages .img-block {
  width: 100%;
}
.about-advanages .img-block img {
  width: 100%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.about-advanages .photo-flex {
  width: 100%;
}
.about-advanages .photo-flex img {
  display: block;
  width: 50%;
  height: 304px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.product .container {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .product .container {
    flex-direction: column;
  }
}
.product .product-gallery {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .product .product-gallery {
    width: 100%;
  }
}
.product .product-gallery .main-img img {
  width: 100%;
  border-radius: 16px;
  height: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .product .product-gallery .main-img img {
    height: 328px;
  }
}
.product .product-gallery .additional-img {
  margin-top: 16px;
  width: 100%;
  display: flex;
  gap: 16px;
}
.product .product-gallery .additional-img li {
  width: calc((100% - 48px) / 4);
}
.product .product-gallery .additional-img li img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .product .product-gallery .additional-img li img {
    height: 80px;
  }
}
.product .product-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .product .product-info {
    width: 100%;
  }
}
.product .product-info .section-title {
  margin: 0;
}
.product .product-info .text {
  text-align: left;
}
.product .product-info .price {
  font-weight: 500;
  font-size: 22px;
}
.product .product-info .options {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product .product-info .options-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  line-height: 0;
  border: 1px solid #000;
  border-radius: 32px;
  min-height: 44px;
  margin: 0;
}
.product .product-info .amount {
  font-size: 16px;
  line-height: 19px;
  margin-top: 3px;
}
.product .product-info .description {
  width: 100%;
}
.product .product-info .description-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product .product-info .description-top img {
  transition: all 0.1s linear;
}
.product .product-info .description-top img.open {
  transform: rotate(-180deg);
}
.product .product-info .description-body {
  opacity: 0;
  transition: all 0.2s linear;
}
.product .product-info .description-body.open {
  font-size: 16px;
  opacity: 1;
}
.product .product-info .description-list {
  margin-top: 16px;
}
.product .product-info .description-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
}
.product .product-info .description-name {
  min-width: 50px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #6c6c6c;
}
.product .product-info .description-text {
  max-width: 275px;
  line-height: 19px;
  letter-spacing: 0.01em;
}

.related-goods .section-title {
  margin-bottom: 25px;
}

.olso-like .section-title {
  margin-bottom: 25px;
  max-width: 100%;
}

.shop-hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 660px) {
  .shop-hero .container {
    flex-direction: column;
  }
}
.shop-hero .container .left {
  width: 60%;
}
.shop-hero .container .left img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
@media screen and (max-width: 660px) {
  .shop-hero .container .left {
    order: 2;
    width: 100%;
  }
}
.shop-hero .container .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (max-width: 660px) {
  .shop-hero .container .right {
    width: 100%;
  }
}
.shop-hero .container .right .text {
  text-align: center;
  max-width: 328px;
}
.shop-hero .container .right .follow-us {
  color: #000;
  display: flex;
  gap: 6px;
}

.shop .shop-list-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media screen and (max-width: 426px) {
  .shop .shop-list-top {
    justify-content: center;
  }
}
.shop .shop-list-top .section-title {
  max-width: 100%;
  text-align: left;
  margin: 0;
}
.shop .shop-list-top .filters {
  display: flex;
  gap: 16px;
}
.shop .shop-list-top .btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.section-cart {
  display: block;
}
.section-cart .section-title {
  margin-bottom: 25px;
}
.section-cart .container {
  display: flex;
  gap: 16px;
}
@media screen and (max-width: 744px) {
  .section-cart .container {
    flex-direction: column;
  }
}
.section-cart .cart-goods {
  width: 50%;
  border-right: 1px solid rgb(190, 190, 190);
}
@media screen and (max-width: 744px) {
  .section-cart .cart-goods {
    width: 100%;
    border: none;
  }
}
.section-cart .cart-goods-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section-cart .cart-goods-item {
  display: flex;
  gap: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c2c2c2;
  width: 95%;
}
@media screen and (max-width: 744px) {
  .section-cart .cart-goods-item {
    width: 100%;
  }
}
.section-cart .cart-goods-item img.good-img {
  width: 172px;
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}
.section-cart .goods-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.section-cart .goods-item-info .prod-description {
  text-align: left;
}
.section-cart .goods-item-info .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-cart .goods-item-info .quantity .amount {
  color: black;
}
.section-cart .goods-item-info .quantity img {
  margin-top: -2px;
}
.section-cart .goods-item-info .subtotal {
  color: #000;
}
.section-cart .goods-item-info .subtotal span {
  color: #6c6c6c;
}
.section-cart .goods-item-info .remove {
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-cart .goods-item-info .remove img {
  margin-top: -3px;
}
.section-cart .cart-total {
  width: 50%;
}
@media screen and (max-width: 744px) {
  .section-cart .cart-total {
    width: 100%;
    border: none;
  }
}
.section-cart .cart-total .total-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d0d0d0;
}
.section-cart .cart-total .total-item .subtotal {
  display: flex;
  justify-content: space-between;
}
.section-cart .cart-total .total-item .subtotal p {
  color: #6c6c6c;
}
.section-cart .cart-total .total-item .subtotal span {
  display: block;
}
.section-cart .cart-total .total-sum {
  margin-top: 25px;
}
.section-cart .cart-total .total-sum .subtotal {
  display: flex;
  justify-content: space-between;
}
.section-cart .cart-total .total-sum .subtotal p {
  color: #6c6c6c;
}
.section-cart .btn {
  margin-top: 25px;
  max-width: 150px;
}/*# sourceMappingURL=main.css.map */