*,
::before,
::after {
  box-sizing: border-box;
}
section {
  padding: 35px 0;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1155px) {
    padding: 0 15px;
  }
  overflow: hidden;
}
body {
  margin: 0;
  background: #fff5eb;
  font-family: "Hind", sans-serif;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  cursor: default;
}
img {
  display: block;
}
button {
  border: 0;
  padding: 0;
  transition: all 0.2s linear;
}
.btn {
  background-color: black;
  color: #ffffff;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 32px;
  cursor: pointer;
  &:active {
    transform: scale(0.95);
    transition: all 200ms ease;
  }
}
.content {
  max-width: 328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photo-flex {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
.img-card {
  width: 100%;
  img {
    border-radius: 16px;
    width: 100%;
    height: 304px;
    object-fit: cover;
  }
}
.button-prev,
.button-next {
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 0px;
  letter-spacing: 0.01em;
  color: #000;
  bottom: 0;
  user-select: none;
  padding: 10px 20px;
  border-radius: 36px;
  transition: all 0.1s linear;
  &:active {
    transform: scale(0.95);
  }
  img {
    margin-bottom: 2px;
  }
}
.button-next {
  right: 50%;
  transform: translateX(105%);
  &:active {
    transform: translateX(105%) scale(0.95);
    opacity: 0.8;
  }
}
.button-prev {
  left: 50%;
  transform: translateX(-105%);
  &:active {
    transform: translateX(-105%) scale(0.95);
    opacity: 0.8;
  }
}
.photo-card {
  height: 254px;

  img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  .btn {
    margin: 0;
    padding: 10px 20px;
    img {
      display: block;
    }
  }
  .pagination-list {
    display: flex;
    align-items: center;
    gap: 20px;
    p {
      line-height: 0;
      margin-top: 1px;
    }
  }
  .curent-page {
    background-color: #ffffff;
    border: 1px solid #efefef;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.product-card {
  width: calc((100% - 64px) / 5);
  position: relative;
  @media screen and (max-width: 1024px) {
    width: calc((100% - 48px) / 4);
  }
  @media screen and (max-width: 800px) {
    width: calc((100% - 32px) / 3);
  }
  @media screen and (max-width: 600px) {
    width: calc((100% - 16px) / 2);
  }
  &:hover,
  &:focus {
    background-color: #fff5eb;
    margin-bottom: -60px;
    box-shadow: 0px 1px 16px 5px rgba(0, 0, 0, 0.233);
    z-index: 1;
    border-radius: 16px;
    .btn-hidden {
      display: block;
    }
  }
  a {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      width: 100%;
      height: 225px;
      object-fit: cover;
      border-radius: 16px 16px 0 0;
      display: block;
    }

    .prod-info {
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .product-name {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.01em;
      color: #000000;
    }
    .text {
      text-align: left;
    }
    .prod-description {
    }
    .product-price {
      color: #6c6c6c;
      display: flex;
      gap: 10px;
      span {
        display: block;
        color: #000;
      }
    }
    .btn-hidden {
      display: none;
      width: 100%;
      z-index: 1;
      position: absolute;
      bottom: 14px;
    }
    .product-btn {
      margin: 0 auto;
      display: block !important;
      width: 70%;
      text-align: center;
    }
  }
}
