.section-title {
  font-size: 28px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  margin-bottom: 16px;
  max-width: 328px;
  margin: 0 auto;
}
h3 {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}
.text {
  font-size: 16px;
  line-height: 1.12;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
